/* App */
/* Base
============================== */
html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

a {
  display: block;
  transition: all 0.3s; }

ul {
  list-style: none; }

ul, li {
  margin: 0;
  padding: 0; }

/* Components
============================== */
.back-to-top {
  margin: 0;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 99;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none; }
  .back-to-top .fa-chevron-up {
    color: #ffffff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px; }
  .back-to-top:hover {
    background-color: rgba(0, 0, 0, 0.7); }

/* HomePage
============================== */
body {
  background: linear-gradient(to right, #2376ae, #8134d3);
  font-family: 'PT Sans', sans-serif; }

/* Navbar
============================== */
.nav-container {
  background-color: #0d141a;
  text-align: center;
  box-shadow: 0 2px 2px -2px #686868; }

.nav-btn {
  display: inline-block;
  padding: 15px 35px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px; }
  .nav-btn:hover {
    background: #2d2d2d; }

/* Profile
============================== */
.main-profile {
  height: 100vh; }
  .main-profile .profile-container {
    padding-top: 10%;
    margin: 0 auto;
    max-width: 500px;
    text-align: center; }
  .main-profile .profile-picture {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #868587;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.55); }
  .main-profile .name {
    padding: 15px 0;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.3px; }
  .main-profile li {
    display: inline-block; }
  .main-profile .social {
    margin: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.2); }
  .main-profile .fa-twitter, .main-profile .fa-github, .main-profile .fa-linkedin {
    padding: 10px; }
  .main-profile .twitter:hover {
    color: #1da1f2;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55); }
  .main-profile .github:hover {
    color: #333;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55); }
  .main-profile .linkedin:hover {
    color: #0077b5;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.55); }

/* MEDIA - Smart Phones and Tablets
============================== */
@media only screen and (max-width: 768px) {
  .main-profile .profile-container {
    padding-top: 25%; } }
/* Projects Section
============================== */
.projects-section {
  background-color: #ffffff;
  padding: 20px; }
  .projects-section .title {
    text-align: center;
    padding-bottom: 10px; }
  .projects-section .project-flex-container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .projects-section .project-flex-container .card {
      margin: 10px 0;
      border: 1px solid #d1d1d1;
      border-radius: 3px;
      width: 350px;
      -webkit-box-shadow: 1px 1px 5px 1px rgba(204, 204, 204, 0.7);
      -moz-box-shadow: 1px 1px 5px 1px rgba(204, 204, 204, 0.7);
      box-shadow: 1px 1px 5px 1px rgba(204, 204, 204, 0.7); }
      .projects-section .project-flex-container .card:hover {
        -webkit-box-shadow: 1px 1px 5px 2px rgba(189, 189, 189, 0.7);
        -moz-box-shadow: 1px 1px 5px 2px rgba(189, 189, 189, 0.7);
        box-shadow: 1px 1px 5px 2px rgba(189, 189, 189, 0.7); }
    .projects-section .project-flex-container .img-card {
      width: 100%;
      height: 220px;
      border-bottom: 1px solid #d1d1d1; }
    .projects-section .project-flex-container .info {
      padding: 15px; }
      .projects-section .project-flex-container .info .tools {
        padding: 8px 0;
        color: #777777;
        font-size: 14px; }
      .projects-section .project-flex-container .info .project-btn {
        display: inline-block;
        background-color: #2376ae;
        padding: 12px 15px;
        border-radius: 5px;
        outline: none;
        text-decoration: none;
        color: #ffffff;
        font-size: 16px; }
        .projects-section .project-flex-container .info .project-btn:hover {
          background-color: #185f8e; }
        .projects-section .project-flex-container .info .project-btn:active {
          transform: translateY(1px); }

/* Footer Section
============================== */
.footer {
  background-color: #0d141a;
  color: #ffffff; }
  .footer .copy-right {
    padding: 25px 0;
    text-align: center;
    font-size: 12px; }

/*# sourceMappingURL=main.css.map */
