// Variables
// ================================

// COLORS
$black:           #000000;
$white:           #ffffff;
$gradient-left:   #2376ae;
$gradient-right:  #8134d3;

// SOCIAL LINK BRAND COLORS
$twitter-blue:    #1da1f2;
$github-gray:     #333;
$linkedin-blue:   #0077b5;