// Variables
// ================================

// COLORS
$black:           rgb(13, 20, 26);
$white:           #ffffff;
$gradient-left:   #43CBFF;
$gradient-right:  #9708CC;
$gray:            rgb(150, 150, 150);
$dark-gray:       rgb(119, 119, 119);
$light-gray:      rgb(209, 209, 209);
$blue:            #1472ff;
$blue-hover:      #287eff;

// SOCIAL LINK BRAND COLORS
$twitter-blue:    #1da1f2;
$github-gray:     #333;
$linkedin-blue:   #0077b5;